<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Dormitory</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DBManager</servlet-name>
    <servlet-class>DBManagerr.DBManager</servlet-class>
    <init-param>
      <param-name>DBUsername</param-name>
      <param-value>root1</param-value>
    </init-param>
    <init-param>
      <param-name>DBPassword</param-name>
      <param-value>1qwer!ASDF</param-value>
    </init-param>
    <init-param>
      <param-name>ConnectionURL</param-name>
      <param-value>jdbc:mysql://39.97.114.188:3306/Dormitory</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StuLoginServlet</servlet-name>
    <servlet-class>student.StuLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetStudentData</servlet-name>
    <servlet-class>student.GetStudentData</servlet-class>
   </servlet>
<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MaintenanceApplyServlet</servlet-name>
    <servlet-class>student.MaintenanceApplyServlet</servlet-class>
  </servlet>
<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReleaseNoteServlet</servlet-name>
    <servlet-class>administrator.ReleaseNoteServlet</servlet-class>
  </servlet>
<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeIntentionServlet</servlet-name>
    <servlet-class>student.ChangeIntentionServlet</servlet-class>
  </servlet>
<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdmLoginServlet</servlet-name>
    <servlet-class>administrator.AdmLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetNoteServlet</servlet-name>
    <servlet-class>student.GetNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>administrator.FeedbackServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IfCanFixApplyServelt</servlet-name>
    <servlet-class>student.IfCanFixApplyServelt</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetFixApplyServlet</servlet-name>
    <servlet-class>student.GetFixApplyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteNoteServlet</servlet-name>
    <servlet-class>student.DeleteNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeStuContactServlet</servlet-name>
    <servlet-class>student.ChangeStuContactServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdmGetFixApplyServlet</servlet-name>
    <servlet-class>administrator.AdmGetFixApplyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckForFixServlet</servlet-name>
    <servlet-class>student.CheckForFixServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ComfirmFixOverServlet</servlet-name>
    <servlet-class>administrator.ComfirmFixOverServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleFixApplyServlet</servlet-name>
    <servlet-class>administrator.HandleFixApplyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RefuseFixApplyServlet</servlet-name>
    <servlet-class>administrator.RefuseFixApplyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExchangeScreenServlet</servlet-name>
    <servlet-class>student.ExchangeScreenServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetFixByCodeServlet</servlet-name>
    <servlet-class>student.GetFixByCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExchangeSubmitServlet</servlet-name>
    <servlet-class>student.ExchangeSubmitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdataFixApplyServlet</servlet-name>
    <servlet-class>student.UpdataFixApplyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExchangeTargetResponseServlet</servlet-name>
    <servlet-class>student.ExchangeTargetResponseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdmGetExchangeAppServlet</servlet-name>
    <servlet-class>administrator.AdmGetExchangeAppServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExchangeGetExchangeAppServlet</servlet-name>
    <servlet-class>student.ExchangeGetExchangeAppServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdmExchangeResponseServlet</servlet-name>
    <servlet-class>administrator.AdmExchangeResponseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExchangeFinishServlet</servlet-name>
    <servlet-class>student.ExchangeFinishServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExchangeConfirmServlet</servlet-name>
    <servlet-class>administrator.ExchangeConfirmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExchangingServlet</servlet-name>
    <servlet-class>student.ExchangingServlet</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>DBManager</servlet-name>
    <url-pattern>/servlet/DBManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuLoginServlet</servlet-name>
    <url-pattern>/servlet/StuLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetStudentData</servlet-name>
    <url-pattern>/servlet/GetStudentData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MaintenanceApplyServlet</servlet-name>
    <url-pattern>/servlet/MaintenanceApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeIntentionServlet</servlet-name>
    <url-pattern>/servlet/ChangeIntentionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReleaseNoteServlet</servlet-name>
    <url-pattern>/servlet/ReleaseNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdmLoginServlet</servlet-name>
    <url-pattern>/servlet/AdmLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNoteServlet</servlet-name>
    <url-pattern>/servlet/GetNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/servlet/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IfCanFixApplyServelt</servlet-name>
    <url-pattern>/servlet/IfCanFixApplyServelt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFixApplyServlet</servlet-name>
    <url-pattern>/servlet/GetFixApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteNoteServlet</servlet-name>
    <url-pattern>/servlet/DeleteNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeStuContactServlet</servlet-name>
    <url-pattern>/servlet/ChangeStuContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdmGetFixApplyServlet</servlet-name>
    <url-pattern>/servlet/AdmGetFixApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckForFixServlet</servlet-name>
    <url-pattern>/servlet/CheckForFixServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ComfirmFixOverServlet</servlet-name>
    <url-pattern>/servlet/ComfirmFixOverServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleFixApplyServlet</servlet-name>
    <url-pattern>/servlet/HandleFixApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefuseFixApplyServlet</servlet-name>
    <url-pattern>/servlet/RefuseFixApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExchangeScreenServlet</servlet-name>
    <url-pattern>/servlet/ExchangeScreenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExchangeSubmitServlet</servlet-name>
    <url-pattern>/servlet/ExchangeSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFixByCodeServlet</servlet-name>
    <url-pattern>/servlet/GetFixByCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdataFixApplyServlet</servlet-name>
    <url-pattern>/servlet/UpdataFixApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExchangeTargetResponseServlet</servlet-name>
    <url-pattern>/servlet/ExchangeTargetResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdmGetExchangeAppServlet</servlet-name>
    <url-pattern>/servlet/AdmGetExchangeAppServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExchangeGetExchangeAppServlet</servlet-name>
    <url-pattern>/servlet/ExchangeGetExchangeAppServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdmExchangeResponseServlet</servlet-name>
    <url-pattern>/servlet/AdmExchangeResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExchangeFinishServlet</servlet-name>
    <url-pattern>/servlet/ExchangeFinishServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExchangeConfirmServlet</servlet-name>
    <url-pattern>/servlet/ExchangeConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExchangingServlet</servlet-name>
    <url-pattern>/servlet/ExchangingServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
    
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
